
.testDiv{
    background: grey;
    color: blanchedalmond;
    width: 100px; 
    height: 100px;
    /*border: 15px burlywood solid;*/
    padding: 20px 40px 20px 40px;
    margin: 0px auto;
}
.top_line{
    display: flex; 
    flex-direction: row;
    flex:none;
    flex-wrap: nowrap;
    justify-content: left;
    background: gainsboro;
    height: 5em;
    margin: 0px;
    min-width: 320px;
}
.ui_top_line {
    /* display: flex;   
    flex-direction:column;
    justify-content: center; */
    display: inline-block;
    background: grey;
    width: 37px;
    max-width:37px;
    min-width: 37px;
    /* flex: auto; */
    /* height: 3em; */
    text-align: center;
    font-size: 1em;
    margin: 0.6em;
    padding: 10px;
}
.text_top_line{
    /* display: inline-block; */
    /* width: 5em;
    height: 5em; */
    margin: 0px;
}
.top_form_ui{
    background: rgb(195, 195, 195);
    display: inline-block;
    /* background: wheat; */
    /* min-width: 250px; */
    margin: 25px;
    padding: 10px;
    border: 15px grey solid;
    
}
.top_form{
    min-width: 250px;
    max-width: 250px;
    /* background: gray; */
    display: flex;
    flex-wrap: wrap;
    font-size: 28px;
    max-height: 32px;
    border-bottom: 1px black solid;
}
.field_select{
    margin:25px;
    font-size: 20px;
}
.field_select_type{
    padding: 2.5px;
    text-align: right;
}
.field_select_text{
    padding: 2.5px;
    text-align: left;
}
.field_box_select{
    /* background: gray; */
}
.hidden{
    display: none;
}
table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }
  
  thead,
  tfoot {
    background-color: rgb(228 240 245);
  }
  
  th,
  td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
  }
  
  td:last-of-type {
    text-align: center;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
  }
  
  tfoot th {
    text-align: right;
  }
  
  tfoot td {
    font-weight: bold;
  }
  