@font-face {
  font-family: 'Roboto';
  src: url('/static/Roboto.woff2');
  font-weight: normal;
  font-style: normal;
}
body{
  font-family: 'Roboto', sans-serif;
}
.form{
  /* max-width: 800px;
  min-width: 800px; */
  margin-top: 2rem;
}
.form__content{
  /* display: inline-block; */
  display: flex;
  /* width:95%; */
  flex-wrap: wrap;
  margin: 25px;
  gap:1rem;
  padding: 1rem;
  border: 2px rgb(210, 210, 210) solid;
  border-radius: 0.35rem;
  align-items:start;
}

fieldset{
  border-style: none;
  display: flex;
  flex-direction:column;
  gap: 20px;
  align-items:start;
}
.form__submit{
  padding: 6px;
  display: inline-flex;
  align-items:center;
  gap: 5px;
}
.form__field-input{
  padding: 2.5px;
  text-align: left;

}
.form__field-input--ghost{
  clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.heading-text{
  text-align: center;
  font-size: 30px;
  margin-bottom: 35px;
}
.table{
  max-width: 1250px;
  min-width: 1250px;
  margin: 0px auto;
  text-align: center;
}
.table__head{
  border-bottom: 2px solid rgb(210 210 210);
  /* background-color: rgb(228 240 245); */
}
.table__head--first{
  line-height: 30px;
  width: 10px;
}
.table__button{
  line-height: 30px;
}
.visually-hidden{
  visibility: hidden;
}
.table__head-button{
  width: 45px;
}
button{
  background-color: rgb(255, 255, 255);
  color: black;
  border: 1px rgb(198, 198, 198) solid;
  border-radius: 0.35rem;
}
button:not(:disabled){
  cursor: pointer;
}
button:hover:not(:disabled) {
  background: rgb(255, 255, 255);
  color: #000000;
  border-color: rgb(210, 210, 210);
}

button:disabled {
  color: rgba(0, 0, 0, 0.5);
  border: 1px rgba(210, 210, 210, 0.5) solid;
  background: rgb(255, 255, 255);
}
legend{
  /* margin: 15px 15px 15px -15px; */
  margin-left: 2rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}
table {
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
table > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}
caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}
input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: rgb(255, 255, 255);
  border: 1px black solid;
  padding: 5px;
  border-radius: 0.35rem;
  color: black;
  cursor: pointer;
  transition: .2s ease-in-out;
}
input[type=text] {
  background: rgb(255, 255, 255) ;
  border: 1px rgb(210, 210, 210) solid;
  border-radius: 0.35rem;
}
select {
  background: rgb(255, 255, 255);
  border-style: none;
  border: 1px rgb(210, 210, 210) solid;
  padding: 5px;
  color:#000000;
  cursor:pointer;
  font-size: 15px;
  border-radius: 0.35rem;
}

th,
td{
  /* border: 0px solid rgb(160 160 160); */
  padding: 8px 10px;
}
tr:nth-last-child(-n+1) td:not(:nth-last-child(-n+3)){
  /* border-bottom: 2px solid rgb(140 140 140); */
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr td{
  /* background-color: rgb(237 238 242); */
  border-top: 2px rgb(210, 210, 210) solid;
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}
tr td:nth-child(8){
/* border-right: 2px solid rgb(140 140 140); */
}
tr th:nth-child(8){
/* border-right: 2px solid rgb(140 140 140); */
}
tr td:nth-child(1){
/* border-left: 2px solid rgb(140 140 140); */
}
tr th:nth-child(1){
/* border-left: 2px solid rgb(140 140 140); */
}

.form__upload-button{
  background-color: rgb(255, 255, 255);
  /* display: flex;
  flex-direction: row; */

  color: black;
  border: 1px rgb(210, 210, 210) solid;
  cursor: pointer;
  border-radius: 0.35rem;
  padding: 0.2rem;
  font-size: 0.9rem;
  display: inline-flex;
  align-items:center;
  gap: 0.5rem;
}

.exit{
	padding: 0.5rem;
	margin-top: 1rem;
	margin-right: 3.5rem;
	position: absolute;
    right: 0;

}
.form__label-text{
	width: 100%;
	display: flex;
	flex-direction:column;
	gap:5px

}
.form__field-input-tip{
	color: rgb(151, 151, 151);
	margin: 0;
	font-weight:normal;
}
