@font-face {
  font-family: 'Roboto'; 
  src: url('/static/Roboto-Bold.ttf'); 
  font-weight: bold;
  font-style: normal; 
}
@font-face {
  font-family: 'Roboto'; 
  src: url('/static/Roboto-Regular.ttf'); 
  font-weight: normal;
  font-style: normal; 
}
body{
  font-family: 'Roboto', sans-serif;
}
.form{
  max-width: 800px;
  min-width: 800px;
  margin: 0px auto;
}
.form__content{
  display: inline-block;
  margin: 25px;
  padding: 10px;
  border: 2px rgb(168, 168, 168) solid;
  border-radius: 5px;
}

fieldset{
  border-style: none;
  display: flex;
  flex-direction:column;
  gap: 20px;
  align-items:start;
}
.form__submit{
  padding: 6px;
}
.form__field-input{
  padding: 2.5px;
  text-align: left;
}
.form__field-input--ghost{
  clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.heading-text{
  text-align: center;
  font-size: 30px;
  margin-bottom: 35px;
}
.table{
  max-width: 1250px;
  min-width: 1250px;
  margin: 0px auto;
  text-align: center;
}
.table__head{
  border-top: 2px solid rgb(140 140 140);
  background-color: rgb(228 240 245);
  width: 100px;
}
.table__head--first{
  line-height: 30px;
  width: 10px;
}
.table__button{
  line-height: 30px;
}
.table__head-button--ghost{
  min-width: 100px;
}
.table__button--hidden{
  display: none;
}
.table__head-button{
  width: 45px;
}
button{
  background-color: rgb(255, 255, 255);
  color: black;
  border: 1px black solid;
  border-radius: 5px;
}
button:not(:disabled){
  cursor: pointer;
}
button:hover:not(:disabled) {
  background: rgb(255, 255, 255);
  color: #000000;
  border-color: #000000;
}

button:disabled {
  color: rgba(0, 0, 0, 0.5);
  border: 1px rgba(0, 0, 0, 0.5) solid;
  background: rgb(255, 255, 255);
}
legend{
  margin: 15px 15px 15px -15px;
}
table {
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
table > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}
caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}
input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: rgb(255, 255, 255);
  border: 1px black solid;
  padding: 5px;
  border-radius: 15px;
  color: black;
  cursor: pointer;
  transition: .2s ease-in-out;
}
input[type=text] {
  background: rgb(255, 255, 255) ;
  border: 1px black solid;
  border-radius: 5px;
}
select {
  background: rgb(255, 255, 255);
  border-style: none;
  border: 1px black solid;
  padding: 5px;
  color:#000000;
  cursor:pointer;
  font-size: 15px;
  border-radius: 10px;
}

th,
td{
  border: 0px solid rgb(160 160 160);
  padding: 8px 10px;
}
tr:nth-last-child(-n+1) td:not(:nth-last-child(-n+3)){
  border-bottom: 2px solid rgb(140 140 140);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) td:not(:nth-last-child(-n+3)){
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}
tr td:nth-child(8){
border-right: 2px solid rgb(140 140 140);
}
tr th:nth-child(8){
border-right: 2px solid rgb(140 140 140);
}
tr td:nth-child(1){
border-left: 2px solid rgb(140 140 140);
}
tr th:nth-child(1){
border-left: 2px solid rgb(140 140 140);
}

.form__upload-button{
  background-color: rgb(255, 255, 255);
  color: black;
  border: 1px black solid;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.1rem;
  font-size: 0.9rem;
  display: inline-flex;
  align-items:center;
}
