.form{
  max-width: 800px;
  min-width: 800px;
  margin: 0px auto;
}
.form__content{
  background: rgb(195, 195, 195) ;
  display: inline-block;
  margin: 25px;
  padding: 10px;
  border: 15px grey solid;
}
.form__field{
  display: block;
  margin:25px;
  font-size: 20px;
}
.form__field-input{
  padding: 2.5px;
  text-align: left;
}
.heading-text{
  text-align: center;
  font-size: 30px;
  margin-bottom: 35px;
}
.table{
  max-width: 1250px;
  min-width: 1250px;
  margin: 0px auto;
  text-align: center;
}
.table__head{
  border-top: 2px solid rgb(140 140 140);
  background-color: rgb(228 240 245);
  width: 100px;
}
.table__head--first{
  line-height: 30px;
  width: 10px;
}
.table__button{
  line-height: 30px;
}
.table__button--hidden{
  display: none;
}
.table__head-button{
  width: 45px;
}
button{
  background-color:  dodgerblue;
}
table {
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
table > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}
caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}


th,
td{
  border: 0px solid rgb(160 160 160);
  padding: 8px 10px;
}
tr:nth-last-child(-n+1) td:not(:nth-last-child(-n+3)){
  border-bottom: 2px solid rgb(140 140 140);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) td:not(:nth-last-child(-n+3)){
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}
tr td:nth-child(8){
border-right: 2px solid rgb(140 140 140);
}
tr th:nth-child(8){
border-right: 2px solid rgb(140 140 140);
}
tr td:nth-child(1){
border-left: 2px solid rgb(140 140 140);
}
tr th:nth-child(1){
border-left: 2px solid rgb(140 140 140);
}