<!doctype html>
<html lang="ru-RU">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
	<link href="/static/style-auth.css" rel="stylesheet">
    <title>Регистрация</title>
</head>

<body>
	<form class="form" id="form-auth">
		<legend>
			Регистрация
		</legend>
		<label> Введите email:
			<input id="email" type="text" placeholder="example@yandex.ru">
		</label>
		<label> Введите пароль:
			<input type="text">
		</label>
		<button>Отправить</button>
	</form>
	<script src="/static/scripts-auth.js"></script>
</body>

</html>
