<!doctype html>
<html lang="ru-RU">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
	<link href="/static/style-auth.css" rel="stylesheet">
	<link rel="shortcut icon" href="/static/favicon-32x32.png">
    <title>Добро пожаловать</title>
</head>

<body>
	<form class="form" id="form-register">
		<legend>
			Регистрация
		</legend>
		<label> Введите email:
			<input id="email-register" type="text" required placeholder="example@yandex.ru" class="input">
		</label>
		<label> Введите пароль:
			<input id="password-register" type="password" required class="input">
		</label>
		<div class="form__error visually-hidden" id="error-register"></div>
		<button class="button">Зарегистрироваться</button>
		<span>
			Уже есть аккаунт?
			<a href="/auth">Войти</a>
		</span>
	</form>
	<script src="/static/scripts-register.js"></script>
</body>

</html>
